# Loading and Saving (training or test data) of the cooking Dataset

In [1]:
# LOADDATASET --- loads and saves (training or test set) of the cooking 
#              dataset in a structure.
#              Input: 
#                   - folder: path of the folder in which mat structures 
#                     are stored.
#                   - mode: 'training' or 'test' 
#                   - output_folder: folder name to save data and index files
#              
#              This function will group MoCap data of all actions for the
#              set indicated into one single structure.
#
#              Output: save data as data and index files [output_folder]
#               When mode='training' , files named *action*_tr.csv and *action*_tr_index.csv,  will be saved
#               When mode='test' , files named *action*_test.csv and *action*_test_index.csv,  will be saved


# action=['carrot','cutting','dish','eating','eggs','lemon','mezzaluna','mixing','openbottle','pan','pestling','pouringmult','pouringsingle','reaching','rolling','salad','salting','spreading','table','transporting']
# Markers
#    -IND-Index Finger
#    -PALM
#    -LIT-Little Finger
#    -WRIST
#    -ELBOW
#    -SHOULDER


import os
import csv
import pandas as pd
from scipy.io import loadmat 
from os import path

def loadDataset(folder, mode,output_folder):
    if not os.path.exists(output_folder): #create output path if not exist
        os.makedirs(output_folder)
        
    datadir = path.join(folder,mode)
    file_list = os.listdir(datadir) #take all the files in a directory

    for file in file_list:
        
        if file.endswith('.mat'): # take only .mat files
            file = file[:-4]
        
        #Marker name with coordinates(X,Y,Z)
        column_names=['IND_X','IND_Y','IND_Z','PALM_X','PALM_Y','PALM_Z', 'LIT_X', 'LIT_Y','LIT_Z','WRIST_X','WRIST_Y','WRIST_Z', 'ELBOW_X','ELBOW_Y','ELBOW_Z', 'SHOULDER_X','SHOULDER_Y','SHOULDER_Z']
        df = pd.DataFrame(columns = column_names) # dataframe for dataset(markers)
        df_index = pd.DataFrame(columns = ['index']) # dataframe for index
        marker = ['IND','PALM', 'LIT', 'WRIST', 'ELBOW', 'SHOULDER']
        single_action = loadmat(path.join(datadir, file))  # load mat-file in python
        arr_index=single_action['index']
        df_index['index']=arr_index[0,:]

        for a in marker:
            arr = single_action[a]
            x=a+'_X'
            y=a+'_Y'
            z=a+'_Z'
            df[x]=arr[:,0]
            df[y]=arr[:,1]
            df[z]=arr[:,2]
            
        data_filename=path.join(output_folder,file)+'.csv'  
        df.to_csv(data_filename,index = False)
        
        index_filename=path.join(output_folder,file)+'_index.csv'
        df_index.to_csv(index_filename,index = False)

In [2]:
# Function Calling
folder = "../CookingDataset-master/data/mocap/"  # cooking dataset folder
mode="training" # or 'test'
output_folder="./data/loadDataset/train/"
loadDataset(folder,mode,output_folder)

In [3]:
#output_folder files
print(os.listdir(output_folder))

['salad_tr_index.csv', 'dish_tr.csv', 'cutting_tr_index.csv', 'spreading_tr_index.csv', 'rolling_tr_index.csv', 'mixing_tr.csv', 'eating_tr.csv', 'eggs_tr.csv', 'lemon_tr_index.csv', 'mezzaluna_tr.csv', 'table_tr_index.csv', 'dish_tr_index.csv', 'rolling_tr.csv', 'carrot_tr.csv', 'openbottle_tr_index.csv', 'eating_tr_index.csv', 'pestling_tr_index.csv', 'carrot_tr_index.csv', 'salad_tr.csv', 'lemon_tr.csv', 'pan_tr_index.csv', 'openbottle_tr.csv', 'reaching_tr.csv', 'mixing_tr_index.csv', 'pestling_tr.csv', 'salting_tr_index.csv', 'table_tr.csv', 'pouringsingle_tr.csv', 'pan_tr.csv', 'pouringsingle_tr_index.csv', 'cutting_tr.csv', 'spreading_tr.csv', 'mezzaluna_tr_index.csv', 'pouringmult_tr.csv', 'eggs_tr_index.csv', 'transporting_tr.csv', 'pouringmult_tr_index.csv', 'salting_tr.csv', 'transporting_tr_index.csv', 'reaching_tr_index.csv']

# Visualize Results

In [4]:
#DATA
data_filename=path.join(output_folder,'eggs_tr.csv')
df=pd.read_csv(data_filename)
print("shape:",df.shape)
df

shape: (3045, 18)

,IND_X,IND_Y,IND_Z,PALM_X,PALM_Y,PALM_Z,LIT_X,LIT_Y,LIT_Z,WRIST_X,WRIST_Y,WRIST_Z,ELBOW_X,ELBOW_Y,ELBOW_Z,SHOULDER_X,SHOULDER_Y,SHOULDER_Z
0,216.96988,149.29839,174.63077,181.82590,159.65848,171.21658,167.96180,125.43966,165.50145,139.760990,196.04813,146.90880,14.505885,341.37848,52.728430,94.409035,544.21936,229.71336
1,216.96590,149.12164,174.60950,181.77359,159.61295,171.25323,167.68694,125.45758,165.03822,139.748340,196.01248,146.92198,14.482125,341.36176,52.705425,94.351240,544.23820,229.73183
2,216.93045,149.12297,174.55916,181.76730,159.60086,171.24187,167.87943,125.38253,165.40044,139.717350,195.96990,146.93614,14.458767,341.34840,52.733658,94.289410,544.21480,229.69400
3,216.91046,149.05084,174.50955,181.75092,159.55466,171.21182,166.94743,125.38846,164.69171,139.623580,195.93036,146.87859,14.443162,341.31900,52.725918,94.215965,544.18140,229.67230
4,216.89131,148.98775,174.45700,181.73996,159.55014,171.18710,167.00565,125.35345,164.72223,139.667360,195.90303,146.88066,14.406820,341.28790,52.732693,94.145256,544.16376,229.67613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3040,207.50917,172.28737,153.99650,173.11497,184.70676,164.57732,152.77528,161.89546,138.78842,127.273190,219.51674,172.28708,-43.238976,348.36102,178.489970,115.458840,551.69290,248.34795
3041,207.91722,172.75792,154.49904,173.48386,184.93683,165.00937,153.23854,162.05466,139.26396,127.393715,219.72256,172.37813,-43.142372,348.19086,178.076310,115.429480,551.72370,248.24730
3042,208.10114,172.85324,154.99611,173.61102,184.98036,165.43105,153.48720,162.00308,139.63629,127.388160,219.73482,172.50098,-43.125362,348.08096,177.734630,115.429830,551.64870,248.32094
3043,208.17032,172.67531,155.29436,173.62767,184.70520,165.76605,153.59041,161.76360,139.90800,127.382030,219.42867,172.82180,-43.051735,347.98630,177.307750,115.660904,552.11005,248.04207
3044,208.04640,172.32062,155.40158,173.48247,184.29681,165.88457,153.48708,161.30186,140.04036,127.219760,218.91159,173.03094,-43.023390,347.94653,176.901550,115.762460,551.98830,248.04657

In [5]:
#INDEX
index_filename=path.join(output_folder,'eggs_tr_index.csv')
df=pd.read_csv(index_filename)
print("shape:",df.shape)
df

shape: (78, 1)

    index
0    1052
1    1088
2    1113
3    1141
4    1167
..    ...
73   2884
74   2945
75   2979
76   3007
77   3029

[78 rows x 1 columns]